@model FrontendAccountCreation.Web.ViewModels.AccountCreation.TeamMemberViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "What are your team member’s details?";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form asp-action="TeamMembersDetails" method="post" novalidate>
                    <h1 class="govuk-heading-l">What are your team member's details?</h1>

                    <govuk-text-input asp-for="FullName" label-class="govuk-label" label-text="Full name" />

                    <govuk-text-input asp-for="Email" label-text="Email">
                        <govuk-hint>We ask for this so we can invite them to join your team.</govuk-hint>
                    </govuk-text-input>

                    <govuk-text-input asp-for="Telephone" label-text="Telephone">
                        <govuk-hint>We ask for this in case your regulator needs to call them directly with any queries.</govuk-hint>
                    </govuk-text-input>

                    <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
                </form>
            </div>
        </div>
    </main>
</div>