@{
    ViewData["Title"] = "User already exists";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                    User already exists
                </h1>

                <p class="govuk-body">You have already created an account for this service.</p>

                <div class="govuk-inset-text">
                   This is a temporary page, which will be replaced by a redirect to Manage Account page.
                </div>
            </div>
        </div>
    </main>
</div>
