<div id="global-spinner" class="spinner-overlay" style="display:none;">
    <div class="spinner">
        <img src="/images/spinner.gif" alt="Loading...">
        <p class="govuk-body-l">Please wait while we process your request...</p>
    </div>
</div>
