@using FrontendAccountCreation.Web.Constants
@{
    ViewData["Title"] = Localizer["AError.PageTitle"];
    ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
    ViewData["HeaderOverride"] = LayoutOverrides.ReExUserHeaderOverride;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                    @Localizer["AError.Title"]
                </h1>             
                @* todo: this will have to point to our reex sign-in : add to sign in story *@
                <p class="govuk-body"><a class="govuk-link" href="/create-account/Account/SignIn">@Localizer["AError.SignIn"]</a>&nbsp;@Localizer["AError.TryAgainLater"]</p>
            </div>
        </div>
    </main>
</div>