@using FrontendAccountCreation.Web.Constants
@{
    ViewData["Title"] = Localizer["NotAffected.Title"];
    ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
    ViewData["HeaderOverride"] = LayoutOverrides.ReExOrganisationHeaderOverride;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                    @Localizer["NotAffected.ContentHeading"].Value
                </h1>
                <p class="govuk-body">@Localizer["NotAffected.Charity.ReEx.Paragraph1"].Value</p>
            </div>
        </div>
    </main>
</div>
