@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FrontendAccountCreation.Web.ViewModels.ReExAccount.TeamMemberViewModel

@{
    ViewData["Title"] = Localizer["TeamMemberDetails.Title"];
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form asp-action="TeamMembersDetails" method="post" novalidate>
                    <h1 class="govuk-heading-l">@Localizer["TeamMemberDetails.Header"]</h1>

                    <govuk-text-input asp-for="FullName" label-class="govuk-label" label-text=@Localizer["TeamMemberDetails.FullName"] />

                    <govuk-text-input asp-for="Email" label-text=@Localizer["TeamMemberDetails.Email"]>
                        <govuk-hint>@Localizer["TeamMemberDetails.HintEmail"]</govuk-hint>
                    </govuk-text-input>

                    <govuk-text-input asp-for="Telephone" label-text=@Localizer["TeamMemberDetails.Telephone"]>
                        <govuk-hint>@Localizer["TeamMemberDetails.HintTelephone"]</govuk-hint>
                    </govuk-text-input>

                    <button class="govuk-button" data-module="govuk-button" type="submit">@Localizer["TeamMemberDetails.Continue"]</button>
                </form>
            </div>
        </div>
    </main>
</div>